.custom-img-card {
    width: 200px !important;
    height: auto;
}

.owl-item {
    width: 250px !important;
}

.p-title {
    font-size: 15px !important;
}

.p-price {
    font-size: 13px !important;
}

.p-price s {
    font-size: 11px;
    color: #c7c4c4;
}

.custom-card {
    border: 1px solid #f7f6f6;
    transition: 0.5s ease;
    overflow: hidden;
}

.custom-card:hover {
    transform: scale(1.05);
    /* border: 1px solid #efefef; */
    /* box-shadow: 0px 0px 10px 3px #efefef;
    z-index: 1; */
}

.owl-carousel .owl-nav {
    width: 100%;
    position: absolute;
    top: 108px;
    display: flex !important;
}

.owl-carousel .owl-nav .owl-next {
    position: absolute;
    left: 0;
}

.owl-carousel .owl-nav [class*='owl-'] span {
    font-size: 32px;
    background-color: #FFF;
    padding: 0 21px;
    /* display: inline-block;
    width: 55px; */
    border: 1px solid #efefef;
    border-radius: 100%;
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    color: #000000;
    text-decoration: none;
}


.owl-stage-outer {
    margin: 0 33px !important;
}

.banner .owl-item {
    width: 200px !important;
}

.banner .custom-img-card {
    width: 150px !important;
    height: 150px !important;
}

.banner .owl-carousel .owl-nav {
    top: 44px !important;
}