.bg_top_nav {
    background-color: #232f3e;
}

.custom-top-nav,
.bg_top_nav p {
    font-size: 14px;
}

.custom-top-nav a {
    padding: 10px;
}

.custom-btn-font-size {
    font-size: 14px !important;
}