.bg_top_nav {
    padding: 0 !important;
    background-color: #232f3e;
}

.custom-top-nav,
.bg_top_nav p {
    font-size: 14px;
}

.custom-top-nav a {
    padding: 10px;
}

.category-custom {
    position: absolute !important;
    top: 7px !important;
    left: -38px !important;
    width: 186px !important;
}

.custom-btn-font-size {
    font-size: 14px !important;
}

.shop-font {
    font-size: 15px !important;
}

.custom-dropdown-toggle::after {
    vertical-align: 2px !important;
}

.basket {
    position: absolute !important;
    top: 7px !important;
    left: -95px !important;
    width: 230px !important;
}

.basket a img {
    width: 60px;
    height: 60px;
}

.basket a ul li {
    font-size: 12px;
}


.btn-custom {
    font-size: 10px;
}

.custom-navbar-nav {
    font-size: 14px;
}

.custom-navbar-nav .nav-item,
.custom-navbar {
    position: unset !important;
}

.custom-navbar-nav .nav-item .dropdown-menu {
    border-radius: 0;
    /* margin: 0 !important; */
    top: 53px;
    background-color: #232f3eed;
}

.custom-navbar-nav .nav-item .dropdown-menu .dropdown-item:focus,
.dropdown-item:hover {
    color: black !important;
}