.bg_top_nav {
    padding: 0 !important;
    background-color: #232f3e;
}

.custom-top-nav,
.bg_top_nav p {
    font-size: 14px;
}

.custom-top-nav a {
    padding: 10px;
}

.category-custom {
    position: absolute !important;
    top: 7px !important;
    left: -38px !important;
    width: 186px !important;
}

.custom-btn-font-size {
    font-size: 14px !important;
}

.shop-font {
    font-size: 15px !important;
}

.dropdown-toggle::after {
    vertical-align: 2px !important;
}

.basket {
    position: absolute !important;
    top: 0px !important;
    left: -51px !important;
    width: 230px !important;
}

.basket a img {
    width: 60px;
    height: 60px;
}

.basket a ul li {
    font-size: 12px;
}


.btn-custom {
    font-size: 10px;
}

.custom-navbar-nav {
    font-size: 14px;
}

.custom-navbar-nav .nav-item {
    position: unset !important;
}

.custom-navbar-nav .nav-item .dropdown-menu {
    border-radius: 0;
    top: 64px;
}

.dropdown-img img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.dropdown-img ul li a {
    color: black !important;
    transition: 0.3s ease;
}

.dropdown-img ul li {
    font-size: 14px;
}

.dropdown-img ul li a i {
    font-size: 10px;
}

.dropdown-img ul li a:hover {
    margin-right: 5px;
    color: #3078cf !important;
    cursor: pointer;
}

.custom-form::placeholder {
    font-size: 13px !important;
}

.logo {
    width: 40px;
    height: 40px;
}

.hot {
    color: rgb(255, 255, 7);
    text-decoration: none;
    animation: hot 1.25s infinite;
}

@keyframes hot {

    0% {
        color: rgb(255, 243, 13);
    }

    50% {
        color: rgb(7, 255, 114);
    }

    75% {
        color: rgb(7, 152, 255);
    }

    100% {
        color: rgb(255, 7, 90);
    }
}

.home {
    width: 350px;
}

.market {
    width: 260px;
}

.smart {
    width: 250px;
}

.model {
    width: 261px;
}