@import url('../css/_top-nav.css');
@import url('../css/_login-form.css');
@import url('./_slider.css');
@import url('./_shipping.css');
@import url('./_category.css');
@import url('./_special-offers.css');
@import url('./_popular.product.css');
@import url('./_banner.css');
@import url('./_footer.css');
@import url('./_product-breadcrumb.css');



*,
body {
    font-family: Vazirmatn, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
}

a {
    text-decoration: none;
}

li,
ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0 !important;
}

@media (max-width:767px) {
    .mt-csm-3 {
        margin-top: 2rem !important;
    }
}

@media screen and (min-width:1200px) {

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1340px !important;
    }
}